<!DOCTYPE html>
<html>
	<head>
		<title>Header</title>
		<link rel="stylesheet" type="text/css" href="./styles/header.css">
	</head>
	<body>
		<div class="header-container">
			<div class="header-left">
                <h3 class="header-elem">Task tracker app</h3>
			</div>
		</div>
	</body>
</html>