*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.header-container {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-content: center;
}

div.header-left{
    width: 80%;
    font-size: large;
    font-weight: bold;
}

div.header-left h3{
    display: inline;
    font-size: large;
    font-weight: bold;
}

div.header-left, div.header-right{
    float: left;
    align-self: center;
}

div.header-right{
    width: 20%;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

div.header-right a{
    background: rgb(98, 95, 95);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    align-self: center;
}


div.header-right a:hover{
    background-color: rgba(96, 93, 93, 0.685);
    color: white;
}

div.header-right :active{
    background-color: rgba(242, 122, 122, 0.93);
}

.header-elem {
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.796);
    font-size: medium;
    font-weight: 500;
    
}